nav .container {
  max-width: 1200px;
}

li.nav-item.dropdown span {
  margin: 10px 10px;
}

li.nav-item.dropdown i {
  margin: 10px 10px;
}

.container-fluid {
  display: flex;
}

.button-genres .btn{
  border: 1px solid white;
  border-radius: 0;
}

.barra2 {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.sinistra {
  display: flex;
  align-items: center;
  gap: 50px;
}


.sinistra h3 {
  color: white;
}


.destra {
  display: flex;
}

.destra i {
  display: flex;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.destra div {
  display: flex;
  border: solid 1px lightgray;
  height: 30px;
  width: 50px;
  padding: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer .container {
  width: 700px;
  color: lightgrey;
  margin-top: 100px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer span{
  color: rgba(255, 255, 255, 0.500);
  font-size: .7rem;
  margin-top: .5rem;
  cursor: pointer;
}

footer .container .row .col {
  padding-bottom: 20px;
}

footer .container .socials {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  
}


footer .container span:last-child {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

footer .container button{
  border: 1px solid lightgrey;
  border-radius: 0;
  font-size: 0.8rem;
  color: lightgrey;
}

